.screen-css-link {
	display: none;
}

.print-css-link {
	display: none;
}

.screen-media-query {
    display: none;
}

.print-media-query {
    display: none;
}

@media screen {
    .screen-media-query {
        display: block;
    }
}

@media print {
    .print-media-query {
        display: block;
    }
}
